{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Cadastro Prex</title>
      <link rel="icon" type="image/x-icon" href="{% static 'logo.png' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

      <style>
         .selec{
            height: 100%;
            width: 100%;
            margin-top: 0px;
            outline: none;
            font-size: 17px;
            padding-left: 20px;
            border: 1px solid lightgrey;
            border-radius: 25px;
            transition: all 0.3s ease;
         }
      </style>

   </head>
   <body>
      <div class="wrapperPrexPage">
         <div class="title">
            Cadastro Prex
         </div>
         <form action="{% url 'prex_cadastro' %}"method="post">
            {% csrf_token %}
            <div class="field">
               <input name="pis" type="text" required>
               <label>Pis</label>
            </div>
            <div class="field">
               <input name="nome" type="text" required>
               <label>Nome</label>
            </div>
            <div class="field">
                <input name="nacionalidade" type="text" required>
                <label>Nacionalidade</label>
             </div>
             <div class="field">
                <input name="cpf" type="text" onkeypress="$(this).mask('000.000.000-00');" minlength="14" required>
                <label>Cpf</label>
             </div>
             <div class="field">
               <select class="selec" name="sexo" required>
                  <option value="" disabled selected hidden>Sexo</option>
                  <option value="Masculino">Masculino</option>
                  <option value="Feminino">Feminino</option>
                  <option value="Outros">Prefiro não dizer</option>
                </select>
             </div>
             <div class="field">
                <input name="email" type="email" required>
                <label>Email</label>
             </div>
             <div class="field">
                   <input name="telefone" type="text" onkeypress="$(this).mask('(00) 90000-0000');" minlength="15" required>
                <label>Telefone</label>
             </div>
             <div class="field">
                <input name="data_nasc" type="date" onkeypress="$(this).mask('0000-00-00');" required>
                <label>Data de Nascimento</label>
             </div>
             <div class="field">
               <input name="usuario" type="text" required>
               <label>Usuário</label>
            </div>
            <div class="field">
               <input name="senha" type="password" minlength="8" required>
               <label>Senha</label>
            </div>
            <div class="field">
               <input type="submit" value="Cadastrar">
            </div>
            </div>
         </form>
         {% if messages %}
            <ul class="messages">
                  {% for message in messages %}
                     <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
            </ul>
         {% endif %}
      </div>
   </body>
</html>
