{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Cadastro Aluno</title>
    <link rel="icon" type="image/x-icon" href="{% static 'logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>

    </style>
    <script type="text/javascript">
        function redirecionarTelaLogin() {
           window.location.href = "/aluno";
        }
     </script>
  </head>
  <body>
    <div class="container">
        <div class="box">
            <h1 class="title-box-confirmation">Bem-vindo a PREX, </h1>
            <p class="text-box-confirmation"> Seu cadastro foi realizado com sucesso, para acessar a página incial clique no botão abaixo:</p>
            <div class="field">
                <input type="button" value="CLIQUE AQUI" onclick="redirecionarTelaLogin();">
            </div>
            <p class="text-box-confirmation-rodape"> Se você tiver qualquer problema com sua conta, entre em contato {email}.</p>
        </div>
    </div>
  </body>
</html>