{% if messages %}
  {% for message in messages %}
  <button id="exibirModal" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" aria-hidden="true" hidden>
    </button>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Mensagem</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {{message}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
          </div>
        </div>
      </div>
    </div>
  <script>
      {% comment %} var btn = document.getElementById('numeroInput'); {% endcomment %}
      $('#exibirModal').click()
  </script>
  {% endfor %}
{% endif %}